<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "seating.css.scss" %>
</head>
<header>
  <a href="/home"><img id="logo" src="../../assets/logo2.png"></a>
  <% if @log == true %>
      <div id="logout">
        <a href="/">Log out</a>
      </div>
  <% end %>
  <h1 id="message"><%= @message %></h1>
  <nav>
    <% if @log == true %>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/vendors">Vendors</a>
            <ul class="submenu">
              <li><a href="">DJ</a></li>
              <li><a href="">Officiants</a></li>
              <li><a href="">Transportation</a></li>
              <li><a href="">Catering</a></li>
              <li><a href="">Decorations</a></li>
              <li><a href="">Flowers</a></li>
              <li><a href="">Photography/Videography</a></li>
              <li><a href="">Venue</a></li>
            </ul>
          </li>
          <li><a href="/budget">Budget</a></li>
          <li><a href="/checklist">Checklist</a></li>
          <li><a href="/invite">Invitation Tracker</a>
            <ul class="submenu">
              <li><a href="/invite">Guest List</a></li>
              <li><a href="/createInvites">Create Invites</a></li>
            </ul>
          </li>
          <li><a href="/ideaFolder">Idea Folder</a></li>
          <li><a href="/registry">Registry</a></li>
          <li><a href="/color">Important Dates</a>
          <li><a href="/examples">Examples</a>
            <ul class="submenu">
              <li><a href="">Ceremony</a></li>
              <li><a href="">Reception</a></li>
              <li><a href="">Color&nbsp;&nbsp;Schemes</a></li>
              <li><a href="">Themes</a></li>
            </ul>
          </li>
          <li id="active"><a href="/seating">Seating</a></li>
          <li><a href="/attire">Attire</a>
            <ul class="submenu">
              <li><a href="">Bride</a></li>
              <li><a href="">Bridesmaids</a></li>
              <li><a href="">Groom</a></li>
              <li><a href="">Groomsmen</a></li>
              <li><a href="">Accessories</a></li>
            </ul>
          </li>
          <li><a href="/themes">Locations</a></li>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/editCountdown">Edit Countdown</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
    <% end %>
  </nav>
</header>
<body onload="drawBoard()">
  <section id="sizer">
    <p>Enter room width: <input value="600" min="0" type="number" name="width" id="width">ft and length: <input value="500" min="0" type="number" name="length" id="length">ft (each square will be 10 square feet) <input type="button" name="create_grid" id="create_grid" onclick="drawBoard()" value="Set"></p>
  </section>
  <section id="seating">
    <aside id="guest_list">
      <p>Guest List</p>
      <h3 id="hint">(Click and Drag to Tables)</h3>
      <section id="guest">
        <% @guest_lists.each do |guest_list| %>
            <ul>
              <% @all.each do |guest| %>
                <% if guest.group_id == guest_list.group_id %>
                  <% @numInGroup += 1 %>
                <% end %>
              <% end %>
              <% if @numInGroup == 1 %>
                 <li draggable="true"><%= guest_list.name %></li>
              <% else %>
                 <li draggable="true"><%= guest_list.name %> + <%= @numInGroup-1 %></li>
              <% end %>
              <% @numInGroup = 0 %>
            </ul>
        <% end %>
      </section>
    </aside>
    <section id="scrollable">
      <canvas id="grid" width="1208" height="1008">
      </canvas>
      <canvas id="tables" width="1208" height="1008">
      </canvas>
    </section>

    <script>
      function drawBoard(){
        var bw = Number(document.getElementById("width").value);
        var bh = Number(document.getElementById("length").value);
        var p = 3;
        var canvas = document.getElementById("grid");
        var context = canvas.getContext("2d");
        canvas.width = canvas.width;
        canvas.height = canvas.height;

        context.clearRect(0,0,canvas.width, canvas.height);

        for (var x = 0; x <= bw*2; x += 20) {
          context.moveTo(0 + x + p, p);
          context.lineTo(0 + x + p, bh*2 + p);
        }

        for (var x = 0; x <= bh*2; x += 20) {
          context.moveTo(p, 0.5 + x + p);
          context.lineTo(bw*2 + p, 0.5 + x + p);
        }

        context.strokeStyle = 'rgba(0,0,0,0.3)';
        context.stroke();
      }

      function createTable() {
          window.open("", "popupWindow", "width=600,height=600");
        }

      var c = new fabric.Canvas('tables');
      fabric.Image.fromURL('../assets/logo.png', function(img) {
        img.scale(0.5).set({
          left: 150,
          top: 150,
          angle: 0
        });
        c.add(img).setActiveObject(img);
      });

      c.on({
        'object:moving': function(e) {
          e.target.opacity = 0.5;
        },
        'object:modified': function(e) {
          e.target.opacity = 1;
          if(e.target.getLeft() <= 0)
          {
            e.target.set({
              left: 0
            });
            e.target.setCoords();
            c.renderAll();
          }
          if(e.target.getTop() <= 0)
          {
            e.target.set({
              top: 0
            });
            e.target.setCoords();
            c.renderAll();
          }
          if(e.target.getTop() >= c.height - (e.target.height/2))
          {
            e.target.set({
              top: c.height - (e.target.height/2)
            });
            e.target.setCoords();
            c.renderAll();
          }
          if(e.target.getLeft() >= c.width - (e.target.width/2))
          {
            e.target.set({
              left: c.width - (e.target.width/2)
            });
            e.target.setCoords();
            c.renderAll();
          }
        }
      });















      var canvas = new fabric.Canvas('canvas');

      /*
       NOTE: the start and end handlers are events for the <img> elements; the rest are bound to
       the canvas container.
       */

      function handleDragStart(e) {
        [].forEach.call(images, function (img) {
          img.classList.remove('img_dragging');
        });
        this.classList.add('img_dragging');
      }

      function handleDragOver(e) {
        if (e.preventDefault) {
          e.preventDefault(); // Necessary. Allows us to drop.
        }

        e.dataTransfer.dropEffect = 'copy'; // See the section on the DataTransfer object.
        // NOTE: comment above refers to the article (see top) -natchiketa

        return false;
      }

      function handleDragEnter(e) {
        // this / e.target is the current hover target.
        this.classList.add('over');
      }

      function handleDragLeave(e) {
        this.classList.remove('over'); // this / e.target is previous target element.
      }

      function handleDrop(e) {
        // this / e.target is current target element.

        if (e.stopPropagation) {
          e.stopPropagation(); // stops the browser from redirecting.
        }

        var img = document.querySelector('#images img.img_dragging');

        console.log('event: ', e);

        var newImage = new fabric.Image(img, {
          width: img.width,
          height: img.height,
          // Set the center of the new object based on the event coordinates relative
          // to the canvas container.
          left: e.layerX,
          top: e.layerY
        });
        canvas.add(newImage);

        return false;
      }

      function handleDragEnd(e) {
        // this/e.target is the source node.
        [].forEach.call(images, function (img) {
          img.classList.remove('img_dragging');
        });
      }

      if (Modernizr.draganddrop) {
        // Browser supports HTML5 DnD.

        // Bind the event listeners for the image elements
        var images = document.querySelectorAll('#images img');
        [].forEach.call(images, function (img) {
          img.addEventListener('dragstart', handleDragStart, false);
          img.addEventListener('dragend', handleDragEnd, false);
        });
        // Bind the event listeners for the canvas
        var canvasContainer = document.getElementById('canvas-container');
        canvasContainer.addEventListener('dragenter', handleDragEnter, false);
        canvasContainer.addEventListener('dragover', handleDragOver, false);
        canvasContainer.addEventListener('dragleave', handleDragLeave, false);
        canvasContainer.addEventListener('drop', handleDrop, false);
      } else {
        // Replace with a fallback to a library solution.
        alert("This browser doesn't support the HTML5 Drag and Drop API.");
      }
    </script>

    <aside id="tools">
      <p>Tools</p>
      <section id="create_table">
        <button type="submit" id="new_table" onclick="createTable()">+ New Table</button>
      </section>
    </aside>
  </section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a href="https://30865de19d880682c894f6235a5a1ba7199f7435-www.googledrive.com/host/0B85v5S0Z9FqXcEE0TVhyN0Q5dnM/">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>