<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <select name="kind">
      <option value="rec">Rectangle/Square</option>
      <option value="circle">Circle</option>
      <option value="head">Head</option>
    </select>
  </div>
  <div class="field">
    <%= f.number_field :num_of_seats, placeholder: "Number of Seats", min: 0%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
