<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "home.css.scss" %>
</head>
<header>
  <a href="/home"><img src="../../assets/logo2.png"></a>
  <div id="logout">
    <a href="/">Log out</a>
  </div>
  <nav>
    <table>
      <tr>
        <td><a href="/home">Home</a></td>
        <td><a href="/vendors">Vendors</a></td>
        <td><a href="/invite">Invitation Tracker</a></td>
        <td><a href="/seating">Seating</a> </td>
      </tr>
      <tr>
        <td><a href="/budget">Budget</a> </td>
        <td><a href="/attire">Attire</a> </td>
        <td><a href="/ideaFolder">Idea Folder</a> </td>
        <td><a href="/themes">Themes</a> </td>
      </tr>
      <tr>
        <td><a href="/checklist">Checklist</a> </td>
        <td><a href="/registry">Registry</a> </td>
        <td><a href="/color">Color Schemes</a> </td>
        <td><a href="/examples">Examples</a> </td>
      </tr>
      <tr>
        <td></td>
        <td><a href="/songs">Songs</a> </td>
        <td><a href="/editCountdown">Edit Countdown</a> </td>
        <td><a href="/faq">FAQ</a> </td>
      </tr>
    </table>
  </nav>
</header>
<body>
<h1>Congratulations <%= cookies["user_name"] %> and <%= cookies["user_fname"] %>!</h1>
<h2><%= cookies["user_date"] %></h2>
<h2><%= @current_date %></h2>
<h2><%= @d %></h2>
<section id="countdown">
  <div id="time">
    <p>009 Days&nbsp; 16 Hours&nbsp; 37 Minutes</p>
    <p>Till The Special Day</p>
    <a href="/editCountdown">Edit</a>
  </div>
</section>
<section id="info">
  <div>
    <p class="title">Registries:</p>
    <ul>
      <li>MACY'S</li>
      <li>WALMART</li>
      <li>HOME DEPOT</li>
    </ul>
    <a href="">+ Add To Registries</a>
  </div>
  <div>
    <p class="title">Important Dates:</p>
    <ul>
      <li>1/16/16: FITTING FOR DRESS</li>
      <li>3/21/16: LAST PAYMENT FOR DRESS DUE</li>
      <li>6/09/16: REHEARSAL DINNER</li>
    </ul>
    <a href="">+ Add To Important Dates</a>
  </div>
  <div>
    <p class="title">Locations:</p>
    <ul>
      <li>REHEARSAL DINNER: 143 SOUTH MAIN STREET</li>
      <li>CEREMONY: 3485 WEST 3561 SOUTH</li>
      <li>RECEPTION: GO HOME</li>
    </ul>
    <a href="">+ Add To Locations</a>
  </div>
</section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a href="https://30865de19d880682c894f6235a5a1ba7199f7435-www.googledrive.com/host/0B85v5S0Z9FqXcEE0TVhyN0Q5dnM/">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>