<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
