<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "home.css.scss" %>
</head>
<header>
  <a href="/home"><img id="logo" src="../../assets/logo2.png"></a>
  <% if @log == true %>
      <div id="logout">
        <a href="/">Log out</a>
      </div>
  <% end %>
  <h1 id="message"><%= @message %></h1>
  <nav>
    <% if @log == true %>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/vendors">Vendors</a>
            <ul class="submenu">
              <li><a href="">DJ</a></li>
              <li><a href="">Officiants</a></li>
              <li><a href="">Transportation</a></li>
              <li><a href="">Catering</a></li>
              <li><a href="">Decorations</a></li>
              <li><a href="">Flowers</a></li>
              <li><a href="">Photography/Videography</a></li>
              <li><a href="">Venue</a></li>
            </ul>
          </li>
          <li><a href="/budget">Budget</a></li>
          <li id="active"><a href="/invite">Invitation Tracker</a>
            <ul class="submenu">
              <li><a href="/invite">Guest List</a></li>
              <li><a href="/createInvites">Create Invites</a></li>
            </ul>
          </li>
          <li><a href="/registry">Registry</a></li>
          <li><a href="/color">Important Dates</a>
          <li><a href="/seating">Seating</a></li>
          <li><a href="/attire">Attire</a>
            <ul class="submenu">
              <li><a href="">Bride</a></li>
              <li><a href="">Bridesmaids</a></li>
              <li><a href="">Groom</a></li>
              <li><a href="">Groomsmen</a></li>
              <li><a href="">Accessories</a></li>
            </ul>
          </li>
        </ul>
    <% end %>
  </nav>
</header>
<body>
<section id="new">
  <%= form_for(@guest_list) do |f| %>
      <% if @guest_list.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@guest_list.errors.count, "error") %> prohibited this guest_list from being saved:</h2>

            <ul>
              <% @guest_list.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.text_field :name, :placeholder=> 'Guest Name' %>
      </div>
      <div class="field">
        <%= f.text_field :email, :placeholder => 'Email (optional but needed for electronic invitations)' %>
      </div>
      <div class="field">
        <%= f.collection_select :status, GuestListsController::STATUSES, :to_s, :to_s, :include_blank => false %>
      </div>

      <div class="actions">
        <%= f.submit 'Update Guest' %>
      </div>
  <% end %>
  <%= link_to 'Back', guest_lists_path %>
</section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a target="_blank" href="https://www.linkedin.com/in/tracie-wamsley-a0435b107">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>