<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "guest_lists.css.scss" %>
</head>
<header>
  <a href="/home"><img id="logo" src="../../assets/logo2.png"></a>
  <% if @log == true %>
      <div id="logout">
        <a href="/">Log out</a>
      </div>
  <% end %>
  <h1 id="message"><%= @message %></h1>
  <nav>
    <% if @log == true %>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/vendors">Vendors</a>
            <ul class="submenu">
              <li><a href="">DJ</a></li>
              <li><a href="">Officiants</a></li>
              <li><a href="">Transportation</a></li>
              <li><a href="">Catering</a></li>
              <li><a href="">Decorations</a></li>
              <li><a href="">Flowers</a></li>
              <li><a href="">Photography/Videography</a></li>
              <li><a href="">Venue</a></li>
            </ul>
          </li>
          <li><a href="/budget">Budget</a></li>
          <li id="active"><a href="/invite">Invitation Tracker</a>
            <ul class="submenu">
              <li><a href="/invite">Guest List</a></li>
              <li><a href="/createInvites">Create Invites</a></li>
            </ul>
          </li>
          <li><a href="/registry">Registry</a></li>
          <li><a href="/color">Important Dates</a>
          <li><a href="/seating">Seating</a></li>
          <li><a href="/attire">Attire</a>
            <ul class="submenu">
              <li><a href="">Bride</a></li>
              <li><a href="">Bridesmaids</a></li>
              <li><a href="">Groom</a></li>
              <li><a href="">Groomsmen</a></li>
              <li><a href="">Accessories</a></li>
            </ul>
          </li>
        </ul>
    <% end %>
  </nav>
</header>
<body>
<section id="guest_list">
  <section id="list">
    <section id="container">
    </section>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @guest_lists.each do |guest_list| %>
            <tr>
              <td><%= guest_list.name %></td>
              <td><%= guest_list.email %></td>
              <td><%= guest_list.status %></td>
              <td><%= link_to 'Edit', edit_guest_list_path(guest_list) %></td>
              <td><%= link_to 'Delete', guest_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% if !guest_list.email.blank? %>
                  <% if !guest_list.sent %>
                      <td id="send"><%= link_to 'Send Email Invite', {:controller => 'guest_lists', :action => 'send_mail', :guest_id => guest_list.id }%> </td>
                  <% else %>
                      <td id="sent"><%= link_to 'Sent!', {:controller => 'guest_lists', :action => 'send_mail', :guest_id => guest_list.id }%> <p class="message">Click to send again</p></td>
                  <% end %>
              <% else %>
                  <td> No Email To Send </td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
    <section id="add">
      <%= link_to '+ Add Guest', new_guest_list_path, :id => 'add_guest' %>
    </section>
    <section id="loop_hole">
    </section>
  </section>
</section>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
  $(function () {

    $(document).ready(function () {

      // Build the chart
      $('#container').highcharts({
        chart: {
          backgroundColor: {
            linearGradient: [0, 0, 250, 500],
            stops: [
              [0, 'rgba(48, 96, 48,0)'],
              [1, 'rgba(0, 0, 0,0)']
            ]
          },
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: "Guest's Statuses (out of <%= @guest_lists.count %> guests)"
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true
          }
        },
        series: [{
          name: 'Guests',
          colorByPoint: true,
          data: [{
            name: 'Coming to Both',
            y: <%= @yes_both %>,
            sliced: true,
            selected: true
          }, {
            name: 'Coming to Ceremony Only',
            y: <%= @yes_c %>
          }, {
            name: 'Coming to Reception Only',
            y: <%= @yes_r %>
          }, {
            name: 'Might Come to Both',
            y: <%= @maybe_both %>
          }, {
            name: 'Might Come to Ceremony Only',
            y: <%= @maybe_c %>
          }, {
            name: 'Might Come to Reception Only',
            y: <%= @maybe_r %>
          }, {
            name: 'Not Coming',
            y: <%= @no %>
          }, {
              name: "Haven't Asked Yet",
              y: <%= @unsure %>
            }]
        }]
      });
    });
  });
</script>

</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a target="_blank" href="https://www.linkedin.com/in/tracie-wamsley-a0435b107">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>