<!DOCTYPE html>
<html>
<head>
  <title>RSVP</title>
  <%= stylesheet_link_tag "home.css.scss" %>
</head>
<body id="rsvp">
<section id="change_status">
  <img id="guest_logo" src="../../assets/logo2.png">
  <h1 id="guest_message"><%= @message %></h1>
  <p><%= @intro %> have been invited to the wedding of <span><%= @user.name %></span> and <span><%= @user.fianceeName %></span>. Please select an R.S.V.P. from the dropdown</p>
  <form accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <select name="status" id="status">
      <option value="Coming to Ceremony and Reception">Coming to Ceremony and Reception</option>
      <option value="Coming to Ceremony Only">Coming to Ceremony Only</option>
      <option value="Coming to Reception Only">Coming to Reception Only</option>
      <option value="Might Come to Ceremony and Reception">Might Come to Ceremony and Reception</option>
      <option value="Might Come to Ceremony Only">Might Come to Ceremony Only</option>
      <option value="Might Come to Reception Only">Might Come to Reception Only</option>
      <option value="Not Coming">Not Coming</option>
    </select>
    <br>
    <input id="change" name="submit" type="submit"
           value="R.S.V.P." />
  </form>
</section>
</body>
</html>